In [7]:

names = ["Qasim","Sir Zia","Sir Inam"]
print(names[-2])
print(f'Founder of PIAIC is {names[-2].upper()}')

Sir Zia
Founder of PIAIC is SIR ZIA

In [8]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [17]:
characters:list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[0:2])
print(characters[:2])
print(characters[-26:-24])
print(characters[0:2:1])
print(characters[0:2:])
print(characters[::3])
print(characters[::-1])
print(characters[-2:-5:-1])

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'D', 'G', 'J', 'M', 'P', 'S', 'V', 'Y']
['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['Y', 'X', 'W']

In [21]:
names : list[any] = ["Sir Zia","Wasim","Qasim",0,True]
print(names)
a : str = names.pop()
print(a)

['Sir Zia', 'Wasim', 'Qasim', 0, True]
True

In [25]:
names : list[any] = ["Sir Zia","Wasim","Qasim",0,True]
print(names)
a : str = names.pop(1)
print(a)

['Sir Zia', 'Wasim', 'Qasim', 0, True]
Wasim

In [26]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [27]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

In [28]:
#Python - Access List Items


thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[-1])

banana
cherry

In [29]:
#Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [32]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [33]:
#Change List Items
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [34]:
#Change a Range of Item Values

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [36]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [37]:
#Append Items


thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [38]:
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [39]:
#Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [40]:
#Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [41]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [42]:
#Remove Specified Index
#The pop() method removes the specified index.

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [43]:
#Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [44]:
#The del keyword also removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [46]:
#The del keyword can also delete the list completely.

thislist = ["apple", "banana", "cherry"]
del thislist

In [47]:
#Clear the List, The list still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [49]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
#copy 
a: list[str] = ['a','b','c']
b = a.copy()
print(a)
print(b)

b[0] = "Pakistan"

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['Pakistan', 'b', 'c']

In [51]:
#Count

names : list[str] = ['a','a','a','b','b','c','c']
print(names.count("c"))
print(names.count("a"))

2
3

In [54]:
names : list [str] = list("ABCDEFG")
print(names)
names.reverse()
print(names)
names.sort()
print(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G']
['G', 'F', 'E', 'D', 'C', 'B', 'A']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [56]:
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

The last motorcycle I owned was a Suzuki.

In [57]:
motorcycles = ['honda', 'yamaha', 'suzuki']

first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

In [60]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [61]:
#Work Within a for Loop

magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [62]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [63]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [64]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [65]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
squares = []
for value in range(1,11):
    squares.append(value*2)
print(squares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [72]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

0

In [2]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [6]:
#List Comprehension

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [8]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [9]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")

for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [2]:
data_base : list[tuple[str,str]] = [
    ("WASIM",'123'), ("QASIM",'456'), ("ZIA KHAN",'789')]

input_user : str = input("Enter User Name ")
input_password : str = input("Enter Password ")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
    else:
        print("Invalid User or Password")

Enter User Name WASIM
Enter Password 123
Valid User

In [1]:
print([i**2 for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
#Join Sets The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [2]:
#The update() method inserts the items in set2 into set1:
#Note: Both union() and update() will exclude any duplicate items.


set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [3]:
#The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [4]:
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [ ]:
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

In [5]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_sets_methods.asp')
table[0]

,Method,Description
0,add(),Adds an element to the set
1,clear(),Removes all the elements from the set
2,copy(),Returns a copy of the set
3,difference(),Returns a set containing the difference betwee...
4,difference_update(),Removes the items in this set that are also in...
5,discard(),Remove the specified item
6,intersection(),"Returns a set, that is the intersection of two..."
7,intersection_update(),Removes the items in this set that are not pre...
8,isdisjoint(),Returns whether two sets have a intersection o...
9,issubset(),Returns whether another set contains this set ...
10,issuperset(),Returns whether this set contains another set ...
11,pop(),Removes an element from the set
12,remove(),Removes the specified element
13,symmetric_difference(),Returns a set with the symmetric differences o...
14,symmetric_difference_update(),inserts the symmetric differences from this se...
15,union(),Return a set containing the union of sets
16,update(),Update the set with the union of this set and ...

In [1]:
#Python Dictionary Methods

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_dictionaries_methods.asp')
table[0]

          Method                                        Description
0        clear()       Removes all the elements from the dictionary
1         copy()                   Returns a copy of the dictionary
2     fromkeys()  Returns a dictionary with the specified keys a...
3          get()             Returns the value of the specified key
4        items()  Returns a list containing a tuple for each key...
5         keys()    Returns a list containing the dictionary's keys
6          pop()         Removes the element with the specified key
7      popitem()           Removes the last inserted key-value pair
8   setdefault()  Returns the value of the specified key. If the...
9       update()  Updates the dictionary with the specified key-...
10      values()  Returns a list of all the values in the dictio...