The is First Code in Python

In [1]:
print("Hellow World")

Hellow World

In [3]:
name : str = "WasimIqbal"
print(name)
print(type(name))
print(id(name))
print([i for i in dir(name) if "__" not in i])

WasimIqbal
<class 'str'>
2260853633136
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

Strings data type in python

In [3]:
name : str = "Wasim Iqbal"
fname : str = "Muhammad Iqbal"
education : str = "Graduation"
age : int = "42"

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father Name : {fname}
Age: {age}
Education: {education}
"""
print(card)

PIAIC Student Card
Student Name: Wasim Iqbal
Father Name : Muhammad Iqbal
Age: 42
Education: Graduation

use f-string

In [4]:
first_name = "ada"
last_name = "lovelace"
full_name = f"{first_name} {last_name}"
print(full_name)

ada lovelace

In [14]:
a = 7
b = 8
c = 10

"This value a is {} and b is {} and c is {}".format(b,a,c)

'This value a is 8 and b is 7 and c is 10'

Changing Case in a String with Methods

In [16]:
name = "ada lovelace"
print(name.title())
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

Adding Whitespace to Strings with Tabs or Newlines

In [17]:
#To add a tab to your text, use the character combination \t:
print("Python")
print("\tPython")

Python
	Python

In [18]:
#To add a newline in a string, use the character combination \n:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

In [19]:
#combine tabs and newlines in a single string
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

Stripping Whitespace

In [23]:
favorite_language = 'python  '
favorite_language

'python  '

In [28]:
favorite_language = ' python '
favorite_language.rstrip()

' python'

In [30]:
favorite_language = ' python '
favorite_language.lstrip()
favorite_language.strip()

'python'

In [31]:
#Removing Prefixes
nostarch_url = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

Python Operators

In [10]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it �
1        -     Subtraction   x - y  Try it �
2        *  Multiplication   x * y  Try it �
3        /        Division   x / y  Try it �
4        %         Modulus   x % y  Try it �
5       **  Exponentiation  x ** y  Try it �
6       //  Floor division  x // y  Try it �

Python Arithmetic Operators

In [14]:
x = 5
y = 2

print(x + y) # Addition
print(x - y) # Subtraction
print(x * y) # Multiplication
print(x / y) # Division
print(x % y) # Modulus
print(x ** y) # Exponentiation
print(x // y) # Floor division

7
3
10
2.5
1
25
2

In [1]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [2]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [3]:
# -=
a : int = 7
print(a)
a -= 2
print(a)

7
5

In [4]:
# *=
a : int = 7
print(a)
a *= 2
print(a)

7
14

In [6]:
# /=
a : int = 8
print(a)
a //= 2
print(a)

8
4

Python Comparison Operators

In [8]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it �
1       !=                 Not equal  x != y  Try it �
2        >              Greater than   x > y  Try it �
3        <                 Less than   x < y  Try it �
4       >=  Greater than or equal to  x >= y  Try it �
5       <=     Less than or equal to  x <= y  Try it �

In [9]:
# == Equal
a : int = 7 
b : int = 10

print (a == b)

False

In [10]:
# != Not Equal
a : int = 7 
b : int = 10

print (a != b)

True

In [12]:
# > Greater than	
a : int = 10 
b : int = 8

print (a > b)

True

In [14]:
# > Greater than	
a : str = 'A' 
b : str = 'B'

print (a > b)

True

Python Logical Operators

In [21]:
# "and" Returns True if both statements are true

x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [22]:
# "or" Returns True if one of the statements is true	

x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [23]:
# "not" Reverse the result, returns False if the result is true		

x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

Python Identity Operators

In [24]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it �
1,is not,Returns True if both variables are not the sam...,x is not y,Try it �

In [29]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is z

140735652640576
140735652640576

True

In [30]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140735652640576
140735652640576

False

Python Membership Operators

In [31]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it �
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it �

In [32]:
names: list[str] = [chr(i) for i in range (65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [33]:
names: list[str] = [chr(i) for i in range (65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [34]:
names: list[str] = [chr(i) for i in range (65,91)]

"D" not in names

False

In [1]:
names : list[str] = ['Sir Zia', 'Sir Nasir', 'Qasim', 'Wasim']

uninput : str = input("Enter your Name")

uninput in names

True

In [2]:
names : list[str] = ['Sir Zia', 'Sir Nasir', 'Qasim', 'Wasim']

uninput : str = input("Enter your Name")

uninput not in names

True

<img src = 'https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

Operator Precedence solve through PEMDAS rules

In [5]:
print((6 + 3) - (6 + 3))

0

In [7]:
print(100 + 5 * 3)

115

In [7]:

names = ["Qasim","Sir Zia","Sir Inam"]
print(names[-2])
print(f'Founder of PIAIC is {names[-2].upper()}')

Sir Zia
Founder of PIAIC is SIR ZIA

In [8]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [17]:
characters:list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[0:2])
print(characters[:2])
print(characters[-26:-24])
print(characters[0:2:1])
print(characters[0:2:])
print(characters[::3])
print(characters[::-1])
print(characters[-2:-5:-1])

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'D', 'G', 'J', 'M', 'P', 'S', 'V', 'Y']
['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['Y', 'X', 'W']

In [21]:
names : list[any] = ["Sir Zia","Wasim","Qasim",0,True]
print(names)
a : str = names.pop()
print(a)

['Sir Zia', 'Wasim', 'Qasim', 0, True]
True

In [25]:
names : list[any] = ["Sir Zia","Wasim","Qasim",0,True]
print(names)
a : str = names.pop(1)
print(a)

['Sir Zia', 'Wasim', 'Qasim', 0, True]
Wasim

In [26]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [27]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

In [28]:
#Python - Access List Items


thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[-1])

banana
cherry

In [29]:
#Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [32]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [33]:
#Change List Items
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [34]:
#Change a Range of Item Values

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [36]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [37]:
#Append Items


thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [38]:
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [39]:
#Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [40]:
#Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [41]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [42]:
#Remove Specified Index
#The pop() method removes the specified index.

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [43]:
#Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [44]:
#The del keyword also removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [46]:
#The del keyword can also delete the list completely.

thislist = ["apple", "banana", "cherry"]
del thislist

In [47]:
#Clear the List, The list still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [49]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
#copy 
a: list[str] = ['a','b','c']
b = a.copy()
print(a)
print(b)

b[0] = "Pakistan"

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['Pakistan', 'b', 'c']

In [51]:
#Count

names : list[str] = ['a','a','a','b','b','c','c']
print(names.count("c"))
print(names.count("a"))

2
3

In [54]:
names : list [str] = list("ABCDEFG")
print(names)
names.reverse()
print(names)
names.sort()
print(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G']
['G', 'F', 'E', 'D', 'C', 'B', 'A']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [56]:
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

The last motorcycle I owned was a Suzuki.

In [57]:
motorcycles = ['honda', 'yamaha', 'suzuki']

first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

In [60]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [61]:
#Work Within a for Loop

magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [62]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [63]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [64]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [65]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
squares = []
for value in range(1,11):
    squares.append(value*2)
print(squares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [72]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

0

In [2]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [6]:
#List Comprehension

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [8]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [9]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")

for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [2]:
data_base : list[tuple[str,str]] = [
    ("WASIM",'123'), ("QASIM",'456'), ("ZIA KHAN",'789')]

input_user : str = input("Enter User Name ")
input_password : str = input("Enter Password ")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
    else:
        print("Invalid User or Password")

Enter User Name WASIM
Enter Password 123
Valid User

In [1]:
print([i**2 for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
#Join Sets The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [2]:
#The update() method inserts the items in set2 into set1:
#Note: Both union() and update() will exclude any duplicate items.


set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [3]:
#The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [4]:
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [ ]:
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

In [5]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_sets_methods.asp')
table[0]

,Method,Description
0,add(),Adds an element to the set
1,clear(),Removes all the elements from the set
2,copy(),Returns a copy of the set
3,difference(),Returns a set containing the difference betwee...
4,difference_update(),Removes the items in this set that are also in...
5,discard(),Remove the specified item
6,intersection(),"Returns a set, that is the intersection of two..."
7,intersection_update(),Removes the items in this set that are not pre...
8,isdisjoint(),Returns whether two sets have a intersection o...
9,issubset(),Returns whether another set contains this set ...
10,issuperset(),Returns whether this set contains another set ...
11,pop(),Removes an element from the set
12,remove(),Removes the specified element
13,symmetric_difference(),Returns a set with the symmetric differences o...
14,symmetric_difference_update(),inserts the symmetric differences from this se...
15,union(),Return a set containing the union of sets
16,update(),Update the set with the union of this set and ...

In [1]:
#Python Dictionary Methods

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_dictionaries_methods.asp')
table[0]

          Method                                        Description
0        clear()       Removes all the elements from the dictionary
1         copy()                   Returns a copy of the dictionary
2     fromkeys()  Returns a dictionary with the specified keys a...
3          get()             Returns the value of the specified key
4        items()  Returns a list containing a tuple for each key...
5         keys()    Returns a list containing the dictionary's keys
6          pop()         Removes the element with the specified key
7      popitem()           Removes the last inserted key-value pair
8   setdefault()  Returns the value of the specified key. If the...
9       update()  Updates the dictionary with the specified key-...
10      values()  Returns a list of all the values in the dictio...

In [1]:
#IF STATEMENTS

if True:
    print("Pakistan")
else:
    print("UK")

Pakistan

In [3]:
if False:
    print("Pakistan")
else:
    print("UK")

UK

In [2]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [16]:
from typing import Union, Optional

per : Union[int,float] = int (float("Enter your percentage:\t"))
grade: Optional[str] = None

if (per >= 0) and (per <33):
    grade = "Fail"
elif (per >= 33) and (per <40):
    grade = "E"
elif (per >= 40) and (per <50):
    grade = "D"
elif (per >= 50) and (per <60):
    grade = "C"
elif (per >= 60) and (per <70):
    grade = "B"
elif (per >= 70) and (per <80):
    grade = "A"
elif (per >= 80) and (per <100):
    grade = "A+"

print(f"Dear Student your percentage is {per} now your calculated grade is: \t {grade}")

Enter your percentage:	 84

Dear Student your percentage is 84 now your calculated grade is: 	 A+

Student Percentage

In [16]:
from typing import Union

PerType = Union[float, int]

percentages : list[PerType] = [88,99.8, 50, 51, 65, 70]

grades : list[str] = []

for per in percentages:
    grade : str = ""

    if (per >= 0) and (per < 33):
        grade = "Fail"
    elif (per >= 33) and (per < 40):
        grade = "E"
    elif (per >= 40) and (per < 50):
        grade = "D"
    elif (per >= 50) and (per < 60):
        grade = "C"
    elif (per >= 60) and (per < 70):
        grade = "B"
    elif (per >= 70) and (per < 80):
        grade = "A"
    elif (per >= 80) and (per <= 100):
        grade = "A+"

    grades.append(grade)

print(percentages)
print(grades)

[88, 99.8, 50, 51, 65, 70]
['A+', 'A+', 'C', 'C', 'B', 'A']

In [17]:
zip(percentages, grades)

In [19]:

list(zip(percentages, grades))

[(88, 'A+'), (99.8, 'A+'), (50, 'C'), (51, 'C'), (65, 'B'), (70, 'A')]

In [22]:
roll_no : list [int]= list(range(len(percentages)))
roll_no

[0, 1, 2, 3, 4, 5]

In [27]:
data_base = list(zip(roll_no, percentages, grades, ))
data_base

[(0, 88, 'A+'),
 (1, 99.8, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

In [29]:
display(data_base)
sorted(data_base, key=lambda x:x[1])

[(0, 88, 'A+'),
 (1, 99.8, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

[(5, 70, 'A'),
 (0, 88, 'A+'),
 (1, 99.8, 'A+'),
 (4, 65, 'B'),
 (2, 50, 'C'),
 (3, 51, 'C')]

In [30]:
display(data_base)
sorted(data_base, key=lambda x:x[1], reverse=True)

[(0, 88, 'A+'),
 (1, 99.8, 'A+'),
 (2, 50, 'C'),
 (3, 51, 'C'),
 (4, 65, 'B'),
 (5, 70, 'A')]

[(1, 99.8, 'A+'),
 (0, 88, 'A+'),
 (5, 70, 'A'),
 (4, 65, 'B'),
 (3, 51, 'C'),
 (2, 50, 'C')]

In [31]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [34]:
cars : list [str] = ['audi', 'bmw', 'subaru', 'toyota']

[i.upper() if i=='toyota' else i.title() for i in cars]

['Audi', 'Bmw', 'Subaru', 'TOYOTA']

In [35]:
banned_users : list [str] = ['andrew', 'carolina', 'david']
user : str = 'marie'

if user not in banned_users:
    print(f"{user.title()}, you can post a response if you wish.")

Marie, you can post a response if you wish.

In [51]:
from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

pprint.pprint(data)
print(data["name"])
print(data["fname"])
print(data["education"])
print(data[0])

{0: 'Pakistan', 'education': 'MSDS', 'fname': 'M. Aslam', 'name': 'M. Qasim'}
M. Qasim
M. Aslam
MSDS
Pakistan

In [53]:
[i for i in dir(data) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [56]:
# get function

from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

print(data.get('pakistan',"N/A"))
print(data.get('name',"N/A"))

N/A
M. Qasim

In [57]:
# get function

from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

print(data.keys())
print(data.values())
print(data.items())

for v in data.values():
    print(v)

dict_keys(['fname', 'name', 'education', 0])
dict_values(['M. Aslam', 'M. Qasim', 'MSDS', 'Pakistan'])
dict_items([('fname', 'M. Aslam'), ('name', 'M. Qasim'), ('education', 'MSDS'), (0, 'Pakistan')])
M. Aslam
M. Qasim
MSDS
Pakistan

In [59]:
# get function

from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

print(data.keys())
print(data.values())
print(data.items())

for k,v in data.items():
    print(k,v)

dict_keys(['fname', 'name', 'education', 0])
dict_values(['M. Aslam', 'M. Qasim', 'MSDS', 'Pakistan'])
dict_items([('fname', 'M. Aslam'), ('name', 'M. Qasim'), ('education', 'MSDS'), (0, 'Pakistan')])
fname M. Aslam
name M. Qasim
education MSDS
0 Pakistan

In [62]:
{v:k for k,v in data.items()}

{'M. Aslam': 'fname', 'M. Qasim': 'name', 'MSDS': 'education', 'Pakistan': 0}

In [64]:
a : int = 7
b : int = 9

a, b = b, a #Shuffle

print(a,b)

9 7

In [65]:
Keys : list[str] = ['id', 'name', 'fname','course']

data : dict[Key, value] = {}

print(data)

data.fromkeys(Keys)

{}

{'id': None, 'name': None, 'fname': None, 'course': None}

In [5]:
#Using Clear Method
from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

print("Before", data)
data.clear()

print("After", data)


methods : list[str] = [m for m in dir(data) if "__" not in m ]
print(methods)

Before {'fname': 'M. Aslam', 'name': 'M. Qasim', 'education': 'MSDS', 0: 'Pakistan'}
After {}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [10]:
#Using Pop Method
from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

print("Before", data)
data.pop("education")
print("After", data)


methods : list[str] = [m for m in dir(data) if "__" not in m ]
print(methods)

Before {'fname': 'M. Aslam', 'name': 'M. Qasim', 'education': 'MSDS', 0: 'Pakistan'}
After {'fname': 'M. Aslam', 'name': 'M. Qasim', 0: 'Pakistan'}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [11]:
#Using PopItem Method
from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

print("Before", data)
data.popitem()
print("After", data)


methods : list[str] = [m for m in dir(data) if "__" not in m ]
print(methods)

Before {'fname': 'M. Aslam', 'name': 'M. Qasim', 'education': 'MSDS', 0: 'Pakistan'}
After {'fname': 'M. Aslam', 'name': 'M. Qasim', 'education': 'MSDS'}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [12]:
#Using setdefault Method
from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

print("Before", data)
data.setdefault("Pakistan","Empty Value")
print("After", data)


methods : list[str] = [m for m in dir(data) if "__" not in m ]
print(methods)

Before {'fname': 'M. Aslam', 'name': 'M. Qasim', 'education': 'MSDS', 0: 'Pakistan'}
After {'fname': 'M. Aslam', 'name': 'M. Qasim', 'education': 'MSDS', 0: 'Pakistan', 'Pakistan': 'Empty Value'}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [15]:
#Using Pop Method
from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }
data1: Dict[Key,value] = {"name":"Wasim Iqbal",
                          "fname":"M. Iqbal",
                          "age":42,
                          "profession":"AVP-Opearatios"
                        }

data.update(data1)
print(data)

methods : list[str] = [m for m in dir(data) if "__" not in m ]
print(methods)

{'fname': 'M. Iqbal', 'name': 'Wasim Iqbal', 'education': 'MSDS', 0: 'Pakistan', 'age': 42, 'profession': 'AVP-Opearatios'}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [18]:
import pandas as pd
from typing import Any

studend_data : Dict[str,list[any]] = {"roll_no" : [1,2,3],
                                      "name" : ["John", "Alice","Bob"],
                                      "age": [25, 23,40],
                                      "gender":["Male", "Female","Male"],
                                      "education":["Masters","Graduation","Masters"]}

df : pd.DataFrame = pd.DataFrame(studend_data)
df

   roll_no   name  age  gender   education
0        1   John   25    Male     Masters
1        2  Alice   23  Female  Graduation
2        3    Bob   40    Male     Masters

In [20]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [21]:
#Starting with an Empty Dictionary
alien_0 = {}
alien_0['color'] = 'green'
alien_0['points'] = 5
print(alien_0)

{'color': 'green', 'points': 5}

In [23]:
#Modifying Values in a Dictionary

alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print(f"Original position: {alien_0['x_position']}")
# Move the alien to the right.
# Determine how far to move the alien based on its current speed.
if alien_0['speed'] == 'slow':
    x_increment = 1
elif alien_0['speed'] == 'medium':
    x_increment = 2
else:
# This must be a fast alien.
    x_increment = 3
# The new position is the old position plus the increment.
# alien_0['x_position'] = alien_0['x_position'] + x_increment

alien_0['x_position'] +=  x_increment
     
print(f"New position: {alien_0['x_position']}")

Original position: 0
New position: 2

In [26]:
favorite_languages = {'jen': 'python',
                      'sarah': 'typescript',
                      'edward': 'rust',
                      'phil': 'python',
                      }

language = favorite_languages['sarah'].title()
print(f"Sarah's favorite language is {language}.")

Sarah's favorite language is Typescript.

In [27]:
favorite_languages = {'jen': 'python',
                      'sarah': 'typescript',
                      'edward': 'rust',
                      'phil': 'python',
                      }

friends = ['phil', 'sarah']
for name in favorite_languages.keys():
    print(f"Hi {name.title()}.")

if name in friends:
    language = favorite_languages[name].title()
print(f"\t{name.title()}, I see you love {language}!")

Hi Jen.
Hi Sarah.
Hi Edward.
Hi Phil.
	Phil, I see you love Python!

In [28]:
alien_0 : list [Key,value] = {'color': 'green', 'points': 5}
alien_1 : list [Key,value] = {'color': 'yellow', 'points': 10}
alien_2 : list [Key,value] = {'color': 'red', 'points': 15}

aliens  : list [Dict[str,str]] = [alien_0, alien_1, alien_2]

for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [30]:
# Make an empty list for storing aliens.
aliens = []
# Make 30 green aliens.
for alien_number in range(10):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

# Show the first 5 aliens.
for alien in aliens[:5]:
    print(alien)
    print("...")

# Show how many aliens have been created.
print(f"Total number of aliens: {len(aliens)}")

{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
Total number of aliens: 10

In [31]:
#Using Pop Method
from typing import Dict, Union, Optional
import pprint

Key = Union[int, str, list, dict, tuple]
value = Union[int, str, list, dict, tuple, set]

data: Dict[Key, value] = {
                        "fname":"M. Aslam",
                        "name":"M. Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }
print(data)
print(type(data))

{'fname': 'M. Aslam', 'name': 'M. Qasim', 'education': 'MSDS', 0: 'Pakistan'}
<class 'dict'>

In [33]:
import json

data1 = json.dumps (data, indent=4)

print(type(data1))
display(data1)
print(data1)

<class 'str'>

'{\n    "fname": "M. Aslam",\n    "name": "M. Qasim",\n    "education": "MSDS",\n    "0": "Pakistan"\n}'

{
    "fname": "M. Aslam",
    "name": "M. Qasim",
    "education": "MSDS",
    "0": "Pakistan"
}

# Loop and input from user 
* While
* for
* Controls
    * break
    * continue
    * pass
* input function
* input from console

# Loop working on iterative data type
* list
* dictionary
* tuple
* string

In [3]:
l1 : str = "PAKISTAN"

for c in l1:
    print(f"Current Character : {c}")

Current Character : P
Current Character : A
Current Character : K
Current Character : I
Current Character : S
Current Character : T
Current Character : A
Current Character : N

In [1]:
# Iteration perform on keys

l1 : list[set[int]] = list({1,2,3,4,1,1,1})

for k in l1:
    print(f"value form list of set : {k}")

value form list of set : 1
value form list of set : 2
value form list of set : 3
value form list of set : 4

# input from user
* input function 
    * default type = string
* sys.argv (for console input in abc.py file)
    * default type = object

In [2]:
name : str = input("What is your name ? : \t")

print(type(name))

print(f"Welcome dear User Mr/Miss {name}!")

<class 'str'>
Welcome dear User Mr/Miss wasim!

# While Loop
```
While loop # True / False
    loop_body

``````

In [2]:
flag : bool = True # flag

current_number : int = 0

while flag:
    print(f"Current Number is : {current_number}")
    current_number += 1

    if current_number == 6:
        break

Current Number is : 0
Current Number is : 1
Current Number is : 2
Current Number is : 3
Current Number is : 4
Current Number is : 5

In [3]:
data : list[dict[str, str]] = []

flag : bool = True

while flag:
    print("write quit or exit to stop this program")
    name: str = input("Your Good Name ? \t:")
    education: str = input("Your Last Education \t:")

    if name in ['exti','quit','close','stop'] or education in ['exti','quit','close','stop']:
        flag = False
        break
    data.append({"name":name,
                 "education": education })
    
display(data)

write quit or exit to stop this program
write quit or exit to stop this program
write quit or exit to stop this program

[{'name': 'Wasim', 'education': 'Bcom'}, {'name': 'Saima ', 'education': 'BA'}]

# Controls

* break
* continue
* pass

In [8]:
for i in range(1,11):
    print(f"2 x {i} = {i*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [9]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [12]:
number = input("Enter a number, and I'll tell you if it's even or odd: ")
number = int(number)

if number % 2 == 0:
 print(f"\nThe number {number} is even.")
else:
 print(f"\nThe number {number} is odd.")

The number 77 is odd.

In [16]:
pets = ['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']

print(pets)

while 'cat' in pets:
 pets.remove('cat')

print(pets)

['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
['dog', 'dog', 'goldfish', 'rabbit']

# Functions
* pre-Define Function
    * provided by language 
* user-define Function
    * custom function
## Similar properties on both types
* Return & Non-Return function
    * Return
        * we can assign this function output in any variable
    * Non-Return 
        * Only run, we can't assign value of variable

## Components
* function delcations
    * function name
    * Parameters
        * param : type
    * rreturn output type
* function body
    * any business write logic
* function calling
    * function(arg1, arg2)

### Syntax function

```
def function_name(param1: type, param2: type,...)->Return Type:
    function_body

function_name(arg1, arg2)

```

### Syntax Lambda function
* One line function
* without name function
* Only use in this line 

```
lambda param1, param2: function_body
```

# Return & Non-Return Function

In [17]:
a : str = print("Pakistan")

display(a)

Pakistan

None

In [18]:
a : int = len("Pakistan")

display(a)

8

### Create simple function without any argument (default function)

In [19]:
def piaic()->None: # Declation 

    # function body start
    print("PIAIC Generative AI")
    print("Python Crash Course")
    # function body end

piaic() # function calling

PIAIC Generative AI
Python Crash Course

# Function with optional parameter

In [20]:
def add_two_numbers(num1: int, num2: int = 0)-> int:
    print(num1, num2)
    return num1 + num2

add_two_numbers(2,3)

2 3

5

In [24]:
a = lambda num1, num2 : num1 + num2
a(7,3)

10

In [26]:
data : list[int] = [1,2,3,4,5,6,7,8,9,10]

data = list(map(lambda x: x**2 , data))

data

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
data : list[int] = [1,2,3,4,5,6,7,8,9,10]

data = list(filter(lambda x: x % 2==0 , data))

data

[2, 4, 6, 8, 10]

In [33]:
from typing import Callable

add: Callable[[int, int], int] = lambda x, y : x + y
result = add(10, 20) # result will be 30
print(result)

30

## Generator Function
* iterate on element one by one
* stop after each iteration 
* remember last iteration value 
* next iterate 
    * go forward from last iterate value

In [38]:
## Generator Function

def my_range(start:int, end:int, step: int=1):
    for i in range(start, end, step):
        yield i # Generator Function

a = my_range(1,10)
print(a)
print(list(a))

<generator object my_range at 0x000001467EC509A0>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
data:list[int] = filter(lambda x:x % 2==0, range(1,101))

print(next(data))

2

### pass unlimited arguments

In [42]:
from typing import Tuple

def greet(*names:Tuple[str, ...])-> None:

    """"
    This function greets all persons in the names tuple
    """

    for name in names:
        print("Hello", name)

greet("Monica", "Luke", "Steve","John" )

Hello Monica
Hello Luke
Hello Steve
Hello John

In [44]:
def my_function(a: int, b:int, *abc: int, **xyz: int) -> None:
    print(a, b, abc, xyz)

my_function(1,2,7,9,9,9, c=20, x=100)

1 2 (7, 9, 9, 9) {'c': 20, 'x': 100}

In [49]:
from typing import Callable

def decorator(func: Callable[[int],None]) -> Callable[[int],None]:
    def wrapper (num1:int) -> None:
        print("Something is happeing before the function is called")
        func(num1)
        print("Something is happeing after the function is called")
    return wrapper

@decorator
def say_hello(num1:int)-> None:
    print(num1)

say_hello(100)

Something is happeing before the function is called
100
Something is happeing after the function is called

### Recursive Function

In [51]:
def factorial (x: int) -> int:

    """This is a recursive function 
    to find the factorial of an integar"""

    if x == 1:
        return 1
    else:
        return(x * factorial (x-1))
    
num = 5
print("This factorial of", num, "is", factorial(num))

This factorial of 5 is 120