Strings data type in python

In [3]:
name : str = "Wasim Iqbal"
fname : str = "Muhammad Iqbal"
education : str = "Graduation"
age : int = "42"

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father Name : {fname}
Age: {age}
Education: {education}
"""
print(card)

PIAIC Student Card
Student Name: Wasim Iqbal
Father Name : Muhammad Iqbal
Age: 42
Education: Graduation

use f-string

In [4]:
first_name = "ada"
last_name = "lovelace"
full_name = f"{first_name} {last_name}"
print(full_name)

ada lovelace

In [14]:
a = 7
b = 8
c = 10

"This value a is {} and b is {} and c is {}".format(b,a,c)

'This value a is 8 and b is 7 and c is 10'

Changing Case in a String with Methods

In [16]:
name = "ada lovelace"
print(name.title())
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

Adding Whitespace to Strings with Tabs or Newlines

In [17]:
#To add a tab to your text, use the character combination \t:
print("Python")
print("\tPython")

Python
	Python

In [18]:
#To add a newline in a string, use the character combination \n:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

In [19]:
#combine tabs and newlines in a single string
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

Stripping Whitespace

In [23]:
favorite_language = 'python  '
favorite_language

'python  '

In [28]:
favorite_language = ' python '
favorite_language.rstrip()

' python'

In [30]:
favorite_language = ' python '
favorite_language.lstrip()
favorite_language.strip()

'python'

In [31]:
#Removing Prefixes
nostarch_url = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

Python Operators

In [10]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

Python Arithmetic Operators

In [14]:
x = 5
y = 2

print(x + y) # Addition
print(x - y) # Subtraction
print(x * y) # Multiplication
print(x / y) # Division
print(x % y) # Modulus
print(x ** y) # Exponentiation
print(x // y) # Floor division

7
3
10
2.5
1
25
2