Strings data type in python

In [3]:
name : str = "Wasim Iqbal"
fname : str = "Muhammad Iqbal"
education : str = "Graduation"
age : int = "42"

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father Name : {fname}
Age: {age}
Education: {education}
"""
print(card)

PIAIC Student Card
Student Name: Wasim Iqbal
Father Name : Muhammad Iqbal
Age: 42
Education: Graduation

use f-string

In [4]:
first_name = "ada"
last_name = "lovelace"
full_name = f"{first_name} {last_name}"
print(full_name)

ada lovelace

In [14]:
a = 7
b = 8
c = 10

"This value a is {} and b is {} and c is {}".format(b,a,c)

'This value a is 8 and b is 7 and c is 10'

Changing Case in a String with Methods

In [16]:
name = "ada lovelace"
print(name.title())
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

Adding Whitespace to Strings with Tabs or Newlines

In [17]:
#To add a tab to your text, use the character combination \t:
print("Python")
print("\tPython")

Python
	Python

In [18]:
#To add a newline in a string, use the character combination \n:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

In [19]:
#combine tabs and newlines in a single string
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

Stripping Whitespace

In [23]:
favorite_language = 'python  '
favorite_language

'python  '

In [28]:
favorite_language = ' python '
favorite_language.rstrip()

' python'

In [30]:
favorite_language = ' python '
favorite_language.lstrip()
favorite_language.strip()

'python'

In [31]:
#Removing Prefixes
nostarch_url = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

Python Operators

In [10]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

Python Arithmetic Operators

In [14]:
x = 5
y = 2

print(x + y) # Addition
print(x - y) # Subtraction
print(x * y) # Multiplication
print(x / y) # Division
print(x % y) # Modulus
print(x ** y) # Exponentiation
print(x // y) # Floor division

7
3
10
2.5
1
25
2

In [1]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [2]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [3]:
# -=
a : int = 7
print(a)
a -= 2
print(a)

7
5

In [4]:
# *=
a : int = 7
print(a)
a *= 2
print(a)

7
14

In [6]:
# /=
a : int = 8
print(a)
a //= 2
print(a)

8
4

Python Comparison Operators

In [8]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [9]:
# == Equal
a : int = 7 
b : int = 10

print (a == b)

False

In [10]:
# != Not Equal
a : int = 7 
b : int = 10

print (a != b)

True

In [12]:
# > Greater than	
a : int = 10 
b : int = 8

print (a > b)

True

In [14]:
# > Greater than	
a : str = 'A' 
b : str = 'B'

print (a > b)

True

Python Logical Operators

In [21]:
# "and" Returns True if both statements are true

x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [22]:
# "or" Returns True if one of the statements is true	

x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [23]:
# "not" Reverse the result, returns False if the result is true		

x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

Python Identity Operators

In [24]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [29]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is z

140735652640576
140735652640576

True

In [30]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140735652640576
140735652640576

False

Python Membership Operators

In [31]:

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [32]:
names: list[str] = [chr(i) for i in range (65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [33]:
names: list[str] = [chr(i) for i in range (65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [34]:
names: list[str] = [chr(i) for i in range (65,91)]

"D" not in names

False

In [1]:
names : list[str] = ['Sir Zia', 'Sir Nasir', 'Qasim', 'Wasim']

uninput : str = input("Enter your Name")

uninput in names

True

In [2]:
names : list[str] = ['Sir Zia', 'Sir Nasir', 'Qasim', 'Wasim']

uninput : str = input("Enter your Name")

uninput not in names

True

<img src = 'https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

Operator Precedence solve through PEMDAS rules

In [5]:
print((6 + 3) - (6 + 3))

0

In [7]:
print(100 + 5 * 3)

115